.home-page {
  display: flex;
  justify-content: center;
  background-color: rgba(136, 50, 194, 0.37);
  border-radius: 10px;
  height: 800px;
  flex: 4;
  margin: 20px 20px;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  text-transform: capitalize;
  margin-bottom: 100px;

}
